@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";

.field {
  width: 750px;
  height: 750px;
  position: relative;
  background-color: #cccccc;
}

.Red {
  &.Player {
    background-color: #ff0000;
  }
  &.Block {
    background-color: #ff8888;
  }
}

.Blue {
  &.Player {
    background-color: #0000ff;
  }
  &.Block {
    background-color: #8888ff;
  }
}

.Player {
  position: absolute;
  width: 15px;
  height: 15px;
}


.Block {
  position: absolute;
  width: 15px;
  height: 15px;

}

.Item {

}
