$spacers: (
  6: 5rem,
  7: 10rem,
);

@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";


$red: #F392B1;
$blue: #79C7FF;
$light-red: #FCDEE7;
$light-blue: #CAE9FF;
$grid: rgba(135, 135, 135, .1);

.renderer {
    display: grid;
    width: 500px;
    height: 500px;

    .grid-row, .grid-col {
      border: 1px solid $grid;
    }

    .obj {
        top: 5px;
        left: 5px;
        width: 40px;
        height: 40px;
        position: relative;

        &.unit {
          &.team-red {
            background: $light-red;
            .health-bar {
              background: $red;
            }
          }
          &.team-blue {
            background: $light-blue;
            .health-bar {
              background: $blue;
            }
          }
          border-radius: 100%;
        }

        .health-bar {
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 100%;
        }
    }
}
