@import models.Schema._
@(boardWithBattles: BoardWithBattles, page: Long, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(f"${boardWithBattles.board.name} Battles", "robot", assetsFinder) {
    <h1><a href="@routes.BoardController.view(boardWithBattles.board.id.id)">@boardWithBattles.board.name</a> Battles</h1>

    <div class="_table">
        <table class="_battles">
            @battleRows(boardWithBattles.battles, assetsFinder)
        </table>
        <div class="_footer">
            @pageControls(page => routes.BoardController.viewBattles(boardWithBattles.board.id.id, page), page, assetsFinder)
        </div>
    </div>
}
