@import models.Schema._
@(seasons: Seq[Season], boards: Seq[Board], assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@boardRows(boards: Seq[Board]) = {
    @for(board <- boards) {
        <tr>
            <td><a href="@routes.BoardController.view(board.id.id)">@board.name</a></td>
        </tr>
    }
}

@main("Boards", "boards", assetsFinder) {
    <h1>Boards</h1>

    <h2>Seasons</h2>

    <table class="_seasons">
    @for(season <- seasons) {
        <div class="_table">
            <div class="_header d-flex">
                <a href="@routes.SeasonController.view(season.slug)">@season.name</a>
                <p>@season.formatStart() - @season.formatEnd()</p>
            </div>
            @if(season.isActive()) {
                @boardRows(boards.filter(_.seasonId.contains(season.id)))
            }
        </div>
    }
    @if(seasons.isEmpty) {
      <p>No seasons yet</p>
    }
    </table>

    <h2 class="mt-5">Other Boards</h2>

    @defining(boards.filter(_.seasonId.isEmpty)) { otherBoards =>
        <table class="_boards">
            @boardRows(otherBoards)
        </table>
        @if(otherBoards.isEmpty) {
            <p>No boards yet</p>
        }
    }
}
