@import models.Schema._
@(seasons: Seq[Season], boards: Seq[Board], isAuthenticated: Boolean, isAdmin: Boolean, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@displayBoards(boards: Seq[Board]) = {
  <table class="_body">
  <tbody>
  @for(board <- boards) {
      <tr>
          <td><a href="@routes.BoardController.view(board.id.id)">
              <img src="@assetsFinder.path("images/board.svg")">
              @board.name
          </a></td>
          <td class="text-grey">publish cooldown: @board.formatPublishCooldown()</td>
      </tr>
  }
  </tbody>
  </table>
}

@displaySeasons(seasons: Seq[Season]) = {
    @for(season <- seasons) {
        <div class="_table">
            <div class="_header d-flex">
                <a href="@routes.SeasonController.view(season.slug)">@season.name</a>
                <p>@season.formatStart() - @season.formatEnd()</p>
            </div>
            @displayBoards(boards.filter(_.seasonId.contains(season.id)))
        </div>
    }
}

@main("Boards", "boards", assetsFinder) {
    <h1>Boards</h1>

    <p>When you publish one of your draft robots, it begins to live on one of these boards, where it is matched with competitors to give you a rating. Some boards stand by themselves, while others belong to a specific Season. Learn more about publishing <a href="https://rr-docs.readthedocs.io/en/latest/publishing.html">here</a>.</p>

    <div class="d-flex actions mt-3">
        @if(isAdmin) {
            <a href="@routes.BoardController.create()">
                <img src="@assetsFinder.path("images/add-circle.svg")" alt="">
                create board
            </a>
        }

        @if(isAuthenticated) {
            <a href="@routes.BoardController.join()">
                <img src="@assetsFinder.path("images/key.svg")" alt="">
                join board with password
            </a>
        }
    </div>

    @defining(seasons.filter(_.isActive())) { seasons =>
        @if(seasons.nonEmpty) {
            <h2>Active Seasons</h2>
            @displaySeasons(seasons)
        }
    }

    @defining(boards.filter(bo => bo.seasonId.isEmpty && bo.isActive())) { boards =>
        <h2>Active Boards</h2>
        @if(boards.nonEmpty) {
            @displayBoards(boards)
        } else {
          <p>No boards yet</p>
        }
    }

    @defining(seasons.filter(!_.isActive())) { seasons =>
        @if(seasons.nonEmpty) {
            <h2>Archived Seasons</h2>
            @displaySeasons(seasons)
        }
    }

    @defining(boards.filter(bo => bo.seasonId.isEmpty && !bo.isActive())) { boards =>
        @if(boards.nonEmpty) {
            <h2>Archived Boards</h2>
            @displayBoards(boards)
        }
    }
}
