@import models.Schema._
@(form: Form[forms.PublishForm.Data], board: Board, robotOptions: Seq[(String, String)], resultOption: Option[Either[PRobot, PRobotId]], assetsFinder: AssetsFinder)(implicit request: MessagesRequestHeader)

@main(s"Publish to ${board.name}", "publish", assetsFinder) {
    <h1>Publish to <a href="@routes.BoardController.view(board.id.id)">@board.name</a></h1>

    <p class="mb-3">Once you publish, your robot will be seen to every other user on this site, and will be queued for battles to establish your rating. You can only publish once every <b>@board.formatPublishCooldown()</b>, so make sure to only do so when your robot is ready to meet the competition.
        <a href="https://rr-docs.readthedocs.io/en/latest/publishing.html" target="_blank">Learn more</a>
    </p>

    @if(robotOptions.nonEmpty) {
        @helper.form(routes.BoardController.postPublish(board.id.id)) {
            @helper.select(form("robotId"), robotOptions, Symbol("_showConstraints") -> false, Symbol("_label") -> "robot name")
            @helper.CSRF.formField
            <button class="button">publish</button>
        }

        <div class="mt-3">
        @resultOption match {
            case Some(result) => {
                @result match {
                    case Left(pr) => {
                        <p>Your robot was recently published. You can publish again only after @board.formatNextPublishTime(pr.created). </p>
                    }

                    case Right(prId) => {
                        <p>Published robot!</p>
                    }
                }
            }

            case None => {}
        }
        </div>
    } else {
      <p class="error">You don't have any robots to publish!</p>
    }
}
