@import models.Schema._
@(boardWithBattles: BoardWithBattles, robot: Robot, page: Long, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(f"${boardWithBattles.board.name} Battles Involving ${robot.name}", "robot", assetsFinder) {
    <h1><a href="@routes.BoardController.view(boardWithBattles.board.id.id)">@boardWithBattles.board.name</a> Battles Involving <a href="@routes.RobotController.viewById(robot.id.id)">@robot.name</a> </h1>

    @if(boardWithBattles.battles.nonEmpty) {
    <div class="_table">
        <table class="_battles _body">
        @for(FullBattle(battle, r1, r2) <- boardWithBattles.battles) {
            @defining(if (r1.id == robot.id) { (r1, r2) } else (r2, r1)) { case (ourR, otherR) =>
                <tr>
                    <td class="text-gray">@battle.formatCreated()</td>
                    <td><a href="@routes.BattleController.view(battle.id.id)">
                        <img src="@assetsFinder.path("images/battle.svg")">
                        #@battle.id.id
                    </a></td>
                    <td class="_robot pr-0
                        @{if (battle.didRobotWin(ourR.id).contains(true)) " _winner" else ""}
                    "><a href="@routes.RobotController.viewById(ourR.id.id)">
                        <img src="@assetsFinder.path("images/robot.svg")">
                        @ourR.name
                    </a></td>
                    <td class="_robot _rating
                        @{if (battle.didRobotWin(ourR.id).contains(true)) " _winner" else ""}
                    ">@{if (r1.id == robot.id) battle.pr1Rating else battle.pr2Rating}</td>
                    <td>vs</td>
                    <td class="_robot pr-0
                        @{if (battle.didRobotWin(otherR.id).contains(true)) "_winner" else ""}
                    "><a href="@routes.RobotController.viewById(otherR.id.id)">
                        <img src="@assetsFinder.path("images/robot.svg")">
                        @otherR.name
                    </a></td>
                    <td class="_robot _rating
                        @{if (battle.didRobotWin(otherR.id).contains(true)) " _winner" else ""}
                    ">@{if (r1.id == robot.id) battle.pr2Rating else battle.pr1Rating}</td>
                </tr>
            }
        }
        </table>
        <div class="_footer">
            @pageControls(page => routes.BoardController.viewRobotBattles(boardWithBattles.board.id.id, robot.id.id, page), page, assetsFinder)
        </div>
    </div>
    } else {
        <p>No battles yet</p>
    }
}
