@import models.Schema._
@(fullBoard: FullBoard, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(s"Board ${fullBoard.board.name}", "board", assetsFinder) {
    <h1>Board @fullBoard.board.name</h1>

    <table class="_robots">
    @for(FullBoardRobot(robot, pRobot, user) <- fullBoard.robots) {
        <tr>
            <td><a href="@routes.RobotController.view(user.username, robot.name)">@robot.name</a></td>
            <td>by <a href="@routes.UserController.profile(user.username)">@user.username</a></td>
            <td>@robot.lang</td>
            <td>@pRobot.rating</td>
            <td><a href="@routes.BoardController.viewRobotBattles(fullBoard.board.id.id, robot.id.id)">view battles</a></td>
        </tr>
    }
    </table>
}
