@import models.Schema._
@(fullBoard: FullBoard, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(fullBoard.board.name, "board", assetsFinder) {
    <h1>@fullBoard.board.name</h1>

    <div class="_table">
        <table class="_body _robots">
        @for(FullBoardRobot(robot, pRobot, user) <- fullBoard.robots) {
            <tr>
                <td><a href="@routes.RobotController.view(user.username, robot.name)">@robot.name</a></td>
                <td>by <a href="@routes.UserController.view(user.username)">@user.username</a></td>
                <td>@robot.lang</td>
                <td>@pRobot.rating</td>
                <td><a href="@routes.BoardController.viewRobotBattles(fullBoard.board.id.id, robot.id.id)">view battles</a></td>
            </tr>
        }
        </table>
        <div class="_footer">
            <a href="@routes.BoardController.publish(fullBoard.board.id.id)">
                <img src="@assetsFinder.path("images/publish.svg")" alt="">
                publish to this board
            </a>
        </div>
    </div>
}
