@import models.Schema._
@(board: FullBoardWithBattles, page: Long, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(board.board.name, "board", assetsFinder) {
    <h1>@board.board.name</h1>

    <p class="text-grey">Publish cooldown: @board.board.formatPublishCooldown()</p>

    @board.board.bio match {
        case Some(bio) => {
            <div class="mt-3">
                @Html(bio)
            </div>
        }
        case None => {}
    }

    <h2 class="mt-4">Published Robots</h2>
    <div class="_table">
        <table class="_body _robots">
        @for(FullBoardRobot(robot, pRobot, user) <- board.robots) {
            <tr>
                <td><a href="@routes.RobotController.view(user.username, robot.name)">@robot.name</a></td>
                <td>by <a href="@routes.UserController.view(user.username)">@user.username</a></td>
                <td>@robot.lang</td>
                <td>@pRobot.rating</td>
                <td><a href="@routes.BoardController.viewRobotBattles(board.board.id.id, robot.id.id)">view battles</a></td>
            </tr>
        }
        </table>
        <div class="_footer">
            @if(board.robots.nonEmpty) {
                @pageControls(page => routes.BoardController.view(board.board.id.id, page), page, assetsFinder)
            }

            @if(board.board.publishingEnabled) {
                <a href="@routes.BoardController.publish(board.board.id.id)">
                    <img src="@assetsFinder.path("images/publish.svg")" alt="">
                    publish to this board
                </a>
            }
        </div>
    </div>

    @if(board.battles.nonEmpty) {
        <h2 class="mt-5">Recent Battles</h2>

        <div class="_table">
            <table class="_battles">
                @battleRows(board.battles, assetsFinder)
            </table>
            <div class="_footer">
                <a href="@routes.BoardController.viewBattles(board.board.id.id)">
                    <img src="@assetsFinder.path("images/launch.svg")" alt="">
                    view all battles
                </a>
            </div>
        </div>
    }
}
