//noinspection SassScssResolvedByNameOnly

._app-root {
  display: flex;
  flex-direction: column;

  .box {
    margin: map_get($spacers, 2);
    p {
      font-weight: bold;
      margin-bottom: map_get($spacers, 2);
    }
  }

  ._battle-viewer-root {
    margin: map_get($spacers, 4) 0;
  }

  ._logs {
    border-top: $border-2;
    textarea {
      width: 100%;
    }
  }

  .arrow-button {
    padding: 0 0.5rem;

    &:disabled {
      color: map_get($colors, "grey-2");
    }
  }

  ._run-bar {
    width: 100%;
    text-align: center;
    position: relative;

    & > * {
      margin: auto;
    }
    
    ._text {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    ._progress-outline {
      position: absolute;
      height: 100%;
      width: 100%;
      border: 2px solid map_get($colors, "light-blue");
      border-left: 0;
      border-right: 0;
      z-index: -2;
    }

    ._progress {
      background: map_get($colors, "light-blue");
      position: absolute;
      height: 100%;
      z-index: -1;
    }
  }


  ._grid-viewer-controls {
    border: $border-2;
    margin-bottom: -2px;
    padding: 0 map_get($spacers, 1);

    input {
      width: 60%;
    }
  }

  ._renderer-wrapper {
    /* https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout */
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;

    ._renderer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      display: grid;

      .grid-row, .grid-col {
        border: $border-3;
      }

      .obj {
        position: relative;

        &.unit {
          &.team-Red {
            background: map_get($colors, "light-red");

            .health-bar {
              background: map_get($colors, "red");
            }
          }

          &.team-Blue {
            background: map_get($colors, "light-blue");

            .health-bar {
              background: map_get($colors, "blue");
            }
          }
        }

        &.terrain {
          background: map_get($colors, "grey-3");
          z-index: -1;
        }

        .health-bar {
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }

}
