### PlayFramework template
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

### Scala template
*.class
*.log

### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

**/dist
**/node_modules
**/elm-stuff
**/target/

### JetBrains template
.idea

### Other
boxfuse*.conf
