$spacers: (
  6: 5rem,
  7: 10rem,
);
$font-size-base: 1.3rem;
$line-height-base: 1.2;

@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "./fantasque/stylesheet.css";
@import "./fixes.scss";

$red: #F392B1;
$blue: #79C7FF;
$orange: #EF8509;
$dark-blue: #39ACFF;
$light-red: #FCDEE7;
$light-blue: #CAE9FF;
$grey: rgb(200, 200, 200);
$light-grey: rgb(240, 240, 240);
$code-font: Fantasque;

body {
  font-family: $code-font;
}

.arrow-button {
  padding: 0 0.5rem;
  &:disabled {
    color: $grey;
  }
}

.button {
  border: 2px solid $blue;
  color: $dark-blue;
  background: none;
  padding: 0 0.5rem;

  &:disabled {
    border-color: $light-blue;
    color: $blue;
  }
}

$grid: rgba(135, 135, 135, .1);

.renderer-wrapper {
  /* https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout */
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;

  .renderer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.renderer {
    display: grid;

    .grid-row, .grid-col {
      border: 1px solid $grid;
    }

    .obj {
        position: relative;

        &.unit {
          &.team-red {
            background: $light-red;
            .health-bar {
              background: $red;
            }
          }
          &.team-blue {
            background: $light-blue;
            .health-bar {
              background: $blue;
            }
          }
        }

        &.terrain {
          background: $light-grey;
          z-index: -1;
        }

        .health-bar {
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
    }
}

.progress-holder {
  position: relative;

  .progress {
    background: $blue;
    position: absolute;
    height: 100%;
  }
}


code-editor {
  .CodeMirror {
    height: 100%;
    border: 0;

    * {
      font-family: $code-font;
      line-height: 1.1;
    }
  }

  .CodeMirror-gutters {
    background: white;
    border-right: 0;
    width: 40px;
  }

  .CodeMirror-linenumber {
    color: $grey;
  }
}

.error {
  color: $orange;
}

.inline-error {
  color: $orange !important;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: $orange;
  }
}

.internal-error {
  color: $red;
}
