@import models.Schema._
@(fullSeason: FullSeason, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(fullSeason.season.name, "season", assetsFinder) {
    <h1>@fullSeason.season.name</h1>
    <div>
        @Html(fullSeason.season.bio)
    </div>

    <div>
    @for(FullBoard(board, robots) <- fullSeason.boards) {
      <h2>@board.name</h2>
        <table class="_robots">
            @for(FullBoardRobot(robot, pRobot, user) <- robots) {
                <tr>
                    <td><a href="@routes.RobotController.view(user.username, robot.name)">@robot.name</a></td>
                    <td>by <a href="@routes.UserController.profile(user.username)">@user.username</a></td>
                    <td>@robot.lang</td>
                    <td>@pRobot.rating</td>
                    <td><a href="@routes.BoardController.viewRobotBattles(board.id.id, robot.id.id)">view battles</a></td>
                </tr>
            }
        </table>
        <a href="@routes.BoardController.view(board.id.id)">view all</a>
    }
    </div>

}
