@import models.Schema._
@(battle: Battle, r1: Robot, r2: Robot, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(s"Battle: ${r1.name} vs ${r2.name}", "battle", assetsFinder) {
    <link rel="stylesheet" type="text/css" href="@assetsFinder.path("dist/battle_css.css")">
    <script src="@assetsFinder.path("dist/battle_js.js")" type="text/javascript"></script>

    <h1 class="mb-3 text-center">@r1.name vs @r2.name</h1>
    <h3 class="mb-5 text-center">
        @battle.winner match {
            case Winner.R1 => {
                Winner: @r1.name
            }
            case Winner.R2 => {
                Winner: @r2.name
            }
            case Winner.Draw => {
                Draw
            }
        }
    </h3>

    <battle-el data="@battle.data"></battle-el>
}

