@import models.Schema._
@(battle: Battle, r1: Robot, r2: Robot, userTeam: Option[String], assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(s"Battle: ${r1.name} vs ${r2.name}", "battle", assetsFinder) {
    <link rel="stylesheet" type="text/css" href="@assetsFinder.path("dist/battle_css.css")">
    <script src="@assetsFinder.path("dist/battle_js.js")" type="text/javascript"></script>

    <h1 class="mb-3 text-center">
        @(battle.winner, battle.errored) match {
            case (Some(Team.R1), false) => {
                <span class="text-blue">@r1.name wins</span> against <span class="text-red">@r2.name</span>
            }
            case (Some(Team.R2), false) => {
                <span class="text-red">@r2.name wins</span> against <span class="text-blue">@r1.name</span>
            }
            case (None, false) => {
                Draw between @r1.name and @r2.name
            }

            case (Some(Team.R1), true) => {
                <span class="text-blue">@r1.name wins</span>, <span class="text-red">@r2.name forfeits</span> because of error
            }
            case (Some(Team.R2), true) => {
                <span class="text-red">@r2.name wins</span>, <span class="text-blue">@r1.name forfeits</span> because of error
            }
            case (None, true) => {
                Draw between @r1.name and @r2.name, both forfeit because of error
            }
        }
    </h1>
    <h3 class="mb-5 text-center">battle #@battle.id, @battle.formatCreated()</h3>

    <battle-el data="@battle.data" team="@userTeam"></battle-el>
}

