@import models.Schema._
@(pagedBattles: Seq[(Battle, Robot, Robot)], page: Long, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main("Battles", "battles", assetsFinder) {
    <h1>Battles</h1>

    <table class="_battles">
    @for((battle, r1, r2) <- pagedBattles) {
        <tr>
            <td class="text-gray">@battle.formatCreated()</td>
            <td><a href="@routes.RobotController.viewBattle(battle.id)">battle #@battle.id</a></td>
            <td class="_robot pr-0"><a href="@routes.RobotController.viewById(battle.r1Id)">@r1.name</a></td>
            <td class="_robot _rating">@battle.r1Rating</td>
            <td>vs</td>
            <td class="_robot pr-0"><a href="@routes.RobotController.viewById(battle.r2Id)">@r2.name</a></td>
            <td class="_robot _rating">@battle.r2Rating</td>
        </tr>
    }
    </table>

    @pageControls(routes.RobotController.battles, page)
}
