@import models.Schema._
@(pagedBattles: Seq[(Battle, Robot, Robot)], page: Long, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main("Battles", "battles", assetsFinder) {
    <h1>Battles</h1>

    <table>
    @for((battle, r1, r2) <- pagedBattles) {
        <tr>
            <td><a href="@routes.RobotController.viewBattle(battle.id)">battle #@battle.id</a></td>
            <td><a href="@routes.RobotController.viewById(battle.r1Id)">@r1.name</a> (@r1.rating)</td>
            <td>vs</td>
            <td><a href="@routes.RobotController.viewById(battle.r2Id)">@r2.name</a> (@r2.rating)</td>
            <td>@battle.formatCreated()</td>
        </tr>
    }
    </table>

    @pageControls(routes.RobotController.battles, page)
}
