@(user: Users.Data, robot: Robots.Data, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@basic(s"The Garage -- editing ${robot.name}", assetsFinder) {
  <link rel="stylesheet" type="text/css" href="@assetsFinder.path("dist/main.css")">
  <script src="@assetsFinder.path("dist/app.js")" type="text/javascript"></script>
} {
  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.RobotController.update,
    routes.javascript.RobotController.view,
    routes.javascript.RobotController.publish,
    routes.javascript.Assets.at,
  )
  <script>window.jsRoutes = jsRoutes</script>

  <div class="garage">
    <robot-arena user="@user.username" robot="@robot.name" code="@robot.code"></robot-arena>
  </div>
}
