@(user: Users.Data, robot: Robots.BasicData, code: String, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

    @basic(s"The Garage -- editing ${robot.name}", assetsFinder) {
        <link rel="stylesheet" type="text/css" href="@assetsFinder.path("dist/webapp_css.css")">
        <script src="@assetsFinder.path("dist/webapp_js.js")" type="text/javascript"></script>
    } {
        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.RobotController.update,
            routes.javascript.RobotController.view,
            routes.javascript.RobotController.publish,
            routes.javascript.Assets.at,

            routes.javascript.RobotController.getRobotCode,
            routes.javascript.RobotController.getUserRobots
        )
        <script>window.jsRoutes = jsRoutes</script>

        <div class="garage">
            <robot-arena user="@user.username" robot="@robot.name" code="@code" lang="@robot.lang"></robot-arena>
        </div>
    }
