@(robot: Robots.BasicData, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(s"Publish ${robot.name}", "publish", assetsFinder) {
    <h1>Publish @robot.name</h1>

    <p>Once you publish, your robot will be seen to every other user on this site, and will be queued for battles that establish your rating.</p>
    <p>Are you ready?</p>

    @helper.form(routes.RobotController.postPublish(robot.id)) {
        @helper.CSRF.formField
        <button class="button">Publish</button>
    }
}
