@(user: Users.Data, isOwner: Boolean, robot: Robots.BasicData, battles: List[(Battles.Data, Robots.BasicData)], assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(s"Robot ${robot.name}", "robot-page", assetsFinder) {
    <h1>@robot.name</h1>

    <div class="d-flex actions mb-5">
        @if(robot.isPublished) {
            <a href="@routes.RobotController.viewPublishedCode(robot.id)" class="text-green">
                <img src="@assetsFinder.path("images/open-source.svg")" alt="">
                view published source
            </a>
        }

        @if(isOwner) {
            <a href="@routes.RobotController.edit(user.username, robot.name)" class="text-yellow">
                <img src="@assetsFinder.path("images/edit.svg")" alt="">
                edit
            </a>
        }
    </div>

    <div class="matches">
        <h5>Matches</h5>
        @if(battles.nonEmpty) {
            <ul>
            @for((battle, r2) <- battles) {
                <li>@tags.battle(battle, robot, r2, assetsFinder, forRobot = true)</li>
            }
            </ul>
        } else {
            <p>None yet!</p>
        }
    </div>
}
