@(user: Users.Data, isOwner: Boolean, robot: Robots.Data, pagedBattles: Seq[(Battles.Data, Robots.Data)], page: Long, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(s"Robot ${robot.name}", "robot-page", assetsFinder) {
    <h1>@robot.name <span>(@robot.lang.toString)</span></h1>

    <div class="d-flex actions mb-5">
        @if(robot.isPublished) {
            <a href="@routes.RobotController.viewPublishedCode(robot.id)" class="text-green">
                <img src="@assetsFinder.path("images/open-source.svg")" alt="">
                view published source
            </a>
        }

        @if(isOwner) {
            <a href="@routes.RobotController.edit(user.username, robot.name)" class="text-yellow">
                <img src="@assetsFinder.path("images/edit.svg")" alt="">
                edit
            </a>
        }
    </div>

    <div class="matches">
        <h4>Matches</h4>
        @if(pagedBattles.nonEmpty) {
          <table>
          @for((battle, r2) <- pagedBattles) {
              <tr>
                  <td><img src="@{
                      val imgPath = Battles.didR1Win(battle, robot.id) match {
                          case Some(won) => if(won) "images/win.svg" else "images/loss.svg"
                          case None => "images/draw.svg"
                      }
                      assetsFinder.path(imgPath)
                  }"></td>
                  <td><a href="@routes.RobotController.viewBattle(battle.id)">vs @r2.name</a></td>
              </tr>
          }
          </table>

          @pageControls((page) => routes.RobotController.view(user.username, robot.name, page), page)
        } else {
            <p>None yet!</p>
        }
    </div>
}
