@import models.Schema._
@(user: User, isOwner: Boolean, robot: Robot, pagedBattles: Seq[(Battle, Robot)], page: Long, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@ratingChange(change: Int) = {
    @if(change > 0) {
        (+@change)
    }
    @if(change < 0) {
        (@change)
    }
}

@ratingChangeImg(change: Int) = {
    @if(change > 0) {
        <img src="@assetsFinder.path("images/increase.svg")" />
    }
    @if(change < 0) {
        <img src="@assetsFinder.path("images/decrease.svg")" />
    }
    @if(change == 0) {
        <img src="@assetsFinder.path("images/nochange.svg")" />
    }
}

@main(s"Robot ${robot.name}", "robot-page", assetsFinder) {
    <h1>Robot @robot.name (@robot.rating)</h1>
    <h3 class="mb-4">@robot.lang robot by <a href="@routes.UserController.profile(user.username)">@user.username</a></h3>

    <div class="d-flex actions mb-5">
        @if(robot.isPublished) {
            <a href="@routes.RobotController.viewPublishedCode(robot.id)" class="text-green">
                <img src="@assetsFinder.path("images/open-source.svg")" alt="">
                view published source
            </a>
        }

        @if(isOwner) {
            <a href="@routes.RobotController.edit(user.username, robot.name)" class="text-yellow">
                <img src="@assetsFinder.path("images/edit.svg")" alt="">
                edit
            </a>
        }
    </div>


    <div class="battles">
        <h4 class="mb-3">Battles</h4>
        @if(pagedBattles.nonEmpty) {
          <table class="_battles">
          @for((battle, otherR) <- pagedBattles) {
              <tr>
                  <td class="text-gray">@battle.formatCreatedTime()</td>
                  <td><a href="@routes.RobotController.viewBattle(battle.id)">battle #@battle.id</a></td>
                  <td class="_rating">
                      @if(robot.id == battle.r1Id) {
                          @ratingChangeImg(battle.r1RatingChange) @ratingChange(battle.r1RatingChange)
                      } else {
                          @ratingChangeImg(battle.r2RatingChange) @ratingChange(battle.r2RatingChange)
                      }
                  </td>
                  <td class="_robot pr-0"><a href="@routes.RobotController.viewById(otherR.id)">@otherR.name</a></td>
                  <td class="_robot _rating">
                      @if(robot.id == battle.r1Id) {
                          @battle.r2Rating
                      } else {
                          @battle.r1Rating
                      }
                  </td>
              </tr>
          }
          </table>

          @pageControls(page => routes.RobotController.view(user.username, robot.name, page), page)
        } else {
            <p>Nothing here!</p>
        }
    </div>
}
