@import models.Schema._
@(pagedRobots: Seq[(Robot, User)], page: Long, assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main("Warehouse", "warehouse", assetsFinder) {
    <h1>Warehouse</h1>

    <table>
    @for((robot, user) <- pagedRobots) {
        <tr>
            <td><a href="@routes.RobotController.view(user.username, robot.name, 0)">@robot.name</a></td>
            <td>by <a href="@routes.UserController.profile(user.username)">@user.username</a></td>
            <td>@robot.lang</td>
            <td>@robot.rating</td>
        </tr>
    }
    </table>

    @pageControls(routes.RobotController.battles, page)
}
