@(battles: List[(Battles.Data, Robots.BasicData, Robots.BasicData)], r2: Robots.BasicData, assetsFinder: AssetsFinder, forRobot: Boolean)

<table>
    @for((battle, r1, r2) <- battles) {
        <tr>
        @if(forRobot) {
            <td><img src="@{
                val imgPath = Battles.didR1Win(battle, r1.id) match {
                    case Some(won) => if(won) "images/win.svg" else "images/loss.svg"
                    case None => "images/draw.svg"
                }
                assetsFinder.path(imgPath)
            }"></td>
            <td><a href="@routes.RobotController.viewBattle(battle.id)">vs @r2.name</a></td>
        } else {
            <td><a href="@routes.RobotController.viewBattle(battle.id)">@r1.name vs @r2.name</a></td>
        }
        </tr>
    }
</table>
