@(form: Form[forms.LoginForm.Data], assetsFinder: AssetsFinder)(implicit request: MessagesRequestHeader)

@main("Login", "login", assetsFinder) {
    @helper.form(routes.UserController.postLogin()) {
        @helper.inputText(form("username"), Symbol("_showConstraints") -> false)
        @helper.inputPassword(form("password"), Symbol("_showConstraints") -> false)
        @helper.CSRF.formField
        <button class="button">login</button>
    }

    @if(form.hasGlobalErrors) {
        <ul class="mt-3 error">
        @for(error <- form.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }

    <div class="mt-3"><a href="@routes.UserController.passwordReset">Reset password</a></div>
}
