@(user: Users.Data, isAuthenticated: Boolean, robots: List[Robots.BasicData], assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main("Profile", "profile", assetsFinder) {
    <h1>@user.username</h1>

    @if(robots.nonEmpty) {
        <div class="robots">
            <h5>robots</h5>
            <ul>

            @for(robot <- robots) {
                <li>@tags.robot(user, robot, assetsFinder, showUser = false)</li>
            }
            </ul>
        </div>
    }

    @if(isAuthenticated) {
        <a href="@routes.RobotController.create()">create robot</a>
    }
}
