@(form: Form[forms.SignupForm.Data], assetsFinder: AssetsFinder)(implicit request: MessagesRequestHeader, flash: Flash)

@main("Signup", "signup", assetsFinder) {
    <p class="mb-4">Sign up to start competing! Note that you will not be able to create any robots until you verify your email.</p>

    @helper.form(routes.UserController.postCreate()) {
        @helper.inputText(form("email"), Symbol("_showConstraints") -> false)
        @helper.inputText(form("username"), Symbol("_showConstraints") -> false)
        @helper.inputPassword(form("password"), Symbol("_showConstraints") -> false)
        @helper.CSRF.formField
        <button class="button">signup</button>
    }


    <div class="mt-3">
        @if(form.hasGlobalErrors) {
            <ul class="error">
            @for(error <- form.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        @flash.get("success")
    </div>
}
