@import models.Schema._
@(user: User, isAuthenticated: Boolean, robots: Seq[Robot], assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(user.username, "view", assetsFinder) {
    <h1>@user.username</h1>

    @if(robots.nonEmpty) {
        <table class="mb-3">
        @for(robot <- robots) {
            <tr>
                <td><a href="@routes.RobotController.view(user.username, robot.name)">@robot.name</a></td>
                <td>@robot.lang</td>
                <td>
                    @if(robot.published) {
                      Published
                    } else {
                      Draft
                    }
                </td>
            </tr>
        }
        </table>
    }

    @if(isAuthenticated) {
        <a href="@routes.RobotController.create()">create robot</a>
    }
}
