@import models.Schema._
@(user: User, isAuthenticated: Boolean, robots: Seq[Robot], assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(user.username, "view", assetsFinder) {
    <h1>@user.username</h1>

    @if(isAuthenticated && !user.verified) {
        <p class="error">Account not verified. Please follow the link sent to @user.email before creating any robots</p>
    } else {
        <p class="mb-5">Thank you for being an alpha user! We greatly appreciate any and all thoughts, suggestions, or comments. You can send them anonymously through <a href="https://forms.gle/5F6T5tptGV5rTjgd9">this Google form</a>. If you would be open to giving more in-depth feedback, please antonoutkine At gmail Dot com. Happy coding!</p>

        <div class="_table">
            @if(robots.nonEmpty) {
                <table class="_body">
                @for(robot <- robots) {
                    <tr class="@{if (!robot.active) "inactive"}">
                        <td><a href="@routes.RobotController.view(user.username, robot.name)">@robot.name</a></td>
                        <td>@robot.lang</td>
                        <td>
                        @if(robot.published) {
                            Published
                        } else {
                            Draft
                        }
                        </td>
                        <td><a href="@routes.RobotController.edit(user.username, robot.name)">edit</a></td>
                    </tr>
                }
                </table>
            }
            @if(isAuthenticated) {
                <div class="_footer">
                    <a href="@routes.RobotController.create()">
                        <img src="@assetsFinder.path("images/add-circle.svg")" alt="">
                        create robot
                    </a>
                </div>
            }
        </div>
    }

}
