@import models.Schema._
@import services.Markdown
@(user: User, isAuthenticated: Boolean, robots: Seq[Robot], assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main(user.username, "view", assetsFinder) {
    <h1>@user.username</h1>

    @if(isAuthenticated) {
        <div class="mb-3">
            <a href="@routes.UserController.update">
                <img src="@assetsFinder.path("images/edit.svg")" alt="">
                update bio
            </a>
        </div>
    }

    @if(user.renderedBio.nonEmpty) {
        <div class="mt-5 mb-5 bio">@Html(user.renderedBio)</div>
    }

    @if(isAuthenticated && !user.verified) {
        <p class="error">Account not verified. Please follow the link sent to @user.email before creating any robots</p>
    } else {
        <div class="_table">
            @if(robots.nonEmpty) {
                <table class="_body">
                @for(robot <- robots) {
                    <tr class="@{if (!robot.active) "inactive"}">
                        <td><a href="@routes.RobotController.view(user.username, robot.name)">
                            <img src="@assetsFinder.path("images/robot.svg")">
                            @robot.name
                            @if(robot.openSource) { <img src="@assetsFinder.path("images/open-source.svg")"> }
                        </a></td>
                        <td>@robot.lang</td>
                        @if(isAuthenticated) {
                            <td>
                            @if(robot.published) {
                                Published
                            } else {
                                Draft
                            }
                            </td>
                            <td><a href="@routes.RobotController.edit(user.username, robot.name)">
                                <img src="@assetsFinder.path("images/wrench.svg")">
                                edit
                            </a></td>
                            <td><a href="@routes.RobotController.update(user.username, robot.name)">
                                <img src="@assetsFinder.path("images/edit.svg")" alt="">
                                update
                            </a></td>
                        }
                    </tr>
                }
                </table>
            }
            @if(isAuthenticated) {
                <div class="_footer">
                    <a href="@routes.RobotController.create()">
                        <img src="@assetsFinder.path("images/add-circle.svg")" alt="">
                        create robot
                    </a>
                </div>
            }
        </div>
    }

}
