@(title: String, assetsFinder: AssetsFinder)(header: Html)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="description" content="Code robots, win matches, rank up!">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="@assetsFinder.path("images/favicon.png")" type="image/x-icon">
        @header
    </head>
    <body>
        @content
        <script src="https://browser.sentry-cdn.com/5.20.1/bundle.min.js" integrity="sha384-O8HdAJg1h8RARFowXd2J/r5fIWuinSBtjhwQoPesfVILeXzGpJxvyY/77OaPPXUo" crossorigin="anonymous">
</script>
        <script>Sentry.init({ dsn: `https://a30820b35cbf42ce9e889d78a28fd88d@@o138688.ingest.sentry.io/5375940` })</script>
    </body>
</html>
