@(title: String, assetsFinder: AssetsFinder)(header: Html)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="description" content="Code robots, win matches, rank up!">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="@assetsFinder.path("images/favicon.png")" type="image/x-icon">
        @header
    </head>
    <body>
        @content
    </body>
</html>
