@import models.Schema._
@(boards: Seq[Board], assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

@main("Robot Rumble ALPHA", "index", assetsFinder) {
    <h1>Code robots, win matches, rank up.</h1>

    <img class="mt-3 mb-5 _demo" src="@assetsFinder.path("images/demo.gif")" alt="">

    <div class="overview">
        <p>The rules are simple:</p>
        <div class="rules">
            <p>* two players fight in a match</p>
            <p>* robots spawn every 10 turns</p>
            <p>* a robot can move or attack</p>
            <p>* each robot has 5 health</p>
            <p>* the player with more robots after 100 turns wins</p>
        </div>
        <p>To get started, <a href="@routes.UserController.create()">sign up</a> and make a robot in Python or Javascript, or <a href="@routes.HomeController.demo">try the demo</a> without making an account.</p>
        <p class="mt-2">You can also read more about the game rules <a href="@routes.HomeController.rules">here</a>.</p>
    </div>

    @if(boards.nonEmpty) {
        <div class="mt-5 _table">
            <h2 class="mb-3">Active robot boards</h2>
            <table class="_body">
                @for(board <- boards.filter(_.isActive())) {
                    <tr>
                        <td><a href="@routes.BoardController.view(board.id.id)">
                            <img src="@assetsFinder.path("images/board.svg")">
                            @board.name
                        </a></td>
                        <td class="text-grey">publish cooldown: @board.formatPublishCooldown()</td>
                    </tr>
                }
            </table>
            <div class="_footer">
                <a href="@routes.BoardController.index()">
                    <img src="@assetsFinder.path("images/launch.svg")" alt="">
                    view all boards
                </a>
            </div>
        </div>
    }

    <h2 class="mt-5">Changelog</h2>
    <div>
        <p>* Added opponent select to the Garage</p>
        <p>* Improved Boards page</p>
        <p>* Fixed duplicate account creation issue</p>
        <p>* Fixed rating persistence issue</p>
    </div>

    <h2 class="mt-4">Roadmap</h2>
    <div>
        <p>* Private boards</p>
        <p>* Private bots</p>
        <p>* Better matchmaking</p>
        <p>* A competition!</p>
    </div>

    <p class="mt-4"><a target="_blank" href="https://forms.gle/LcGFBiQkgAJyDhWR6">
        <img src="@assetsFinder.path("images/star.svg")">
        Stay informed about new features and announcements.
    </a></p>
}
