@(title: String, className: String, assetsFinder: AssetsFinder, loadScript: Boolean = true)(content: Html)(implicit request: RequestHeader)

@basic(title, assetsFinder) {
    <link rel="stylesheet" type="text/css" href="@assetsFinder.path("dist/site_css.css")">
    @if(loadScript) {
        <script src="@assetsFinder.path("dist/site_js.js")" type="text/javascript"></script>
    }
} {
    <div class="content">
        <section class="header d-flex justify-content-between">
            <a class="text-black" href="@routes.HomeController.index">Robot Rumble ALPHA</a>
            <div class="d-flex links">
                <a href="@routes.HomeController.demo()">
                    <img src="@assetsFinder.path("images/star.svg")">
                    try it!
                </a>
                <a href="@routes.BoardController.index()">
                    <img src="@assetsFinder.path("images/board.svg")">
                    boards
                </a>
                <a href="@routes.HomeController.tutorialHome()">
                    <img src="@assetsFinder.path("images/school.svg")">
                    tutorial
                </a>
                <a href="@routes.HomeController.rules()" target="_blank">
                    <img src="@assetsFinder.path("images/rules.svg")">
                    docs
                </a>
                @request.session.get("USERNAME") match {
                    case Some(username) => {
                        <a href="@routes.UserController.view(username)">
                            <img src="@assetsFinder.path("images/robot.svg")">
                            your robots
                        </a>
                        <a href="@routes.UserController.logout()">
                            <img src="@assetsFinder.path("images/logout.svg")">
                            logout
                        </a>
                    }

                    case None => {
                        <div class="d-flex">
                            <a href="@routes.UserController.login()">login</a>
                                &nbsp;&#47;&nbsp;
                            <a href="@routes.UserController.create()">signup</a>
                        </div>
                    }
                }
            </div>
        </section>

        <section class="main container @className">
        @content
        </section>
    </div>

    <section class="footer d-flex justify-content-between">
        <p>Made with <3 by Anton and Noa</p>
        <a href="https://github.com/robot-rumble">github org</a>
    </section>

}
