@(user: Users.Data, robots: List[Robots.Data], assetsFinder: AssetsFinder)(implicit request: Request[AnyContent])

    @main("Profile", "profile", assetsFinder) {
        <h1>@user.username</h1>

        @if(robots.nonEmpty) {
            <div class="robots">
                <h5>robots</h5>
                <ul>

                @for(robot <- robots) {
                    <li>@tags.robot(user, robot, assetsFinder, showUser = false)</li>
                }
                </ul>
            </div>
        }

        @if(request.session.get("USERNAME").forall(_ == user.username)) {
            <a href="@routes.RobotController.create()">create robot</a>
        }
    }
