@(form: Form[SignupForm.Data], assetsFinder: AssetsFinder)(implicit request: MessagesRequestHeader)
  @main("Signup", "signup", assetsFinder) {

    @helper.form(routes.UserController.postCreate()) {
      @helper.inputText(form("username"), Symbol("_showConstraints") -> false)
      @helper.inputText(form("password"), Symbol("_showConstraints") -> false)
      @helper.CSRF.formField
      <button>Signup</button>
    }

    @if(form.hasGlobalErrors) {
      <ul>
      @for(error <- form.globalErrors) {
        <li>@error.format</li>
      }
      </ul>
  }
}
